body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #bb9457;
}


header {
  text-align: center;
  padding: 15px;
  background-color: #a3b18a;
  font-size: 2rem;
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 20px;
  margin-top: 30px;
}


.input-box {
  background: #1b3b5f;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}


.text {
  height: 10%;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}


.btn {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addbtn {
  background: black;
  color: white;
}

.notes-container {
  width: 400px;
}


#list li {
  background: #1b3b5f;
  color: aliceblue;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.editt {
  background: linear-gradient(to right, rgb(58, 140, 202), grey);
  width: 40%;
}

.delett {
  background: linear-gradient(to right, rgb(58, 140, 202), grey);
  width: 40%;
}

.editt:hover {
  background: linear-gradient(to right, rgb(93, 173, 113), rgb(10, 138, 218));
}

.delett:hover {
  background: linear-gradient(to right, rgb(80, 135, 95), rgb(10, 138, 218));
}

ul {
  padding: 0;
  margin: 0;
}

.nheading {
  font-size: 25px;
}

@media(max-width:600px) {
  header {
    font-size: 1rem;
  }
}